<div class="item-story">
    <h3>Character Details</h3>
    <div>{{ character.stories.characterDetails|raw }}</div>
</div>
<div class="item-story">
    <h3>Character Story: Part I</h3>
    <div>{{ character.stories.characterStoryPartOne|raw }}</div>
</div>
<div class="item-story">
    <h3>Character Story: Part II</h3>
    <div>{{ character.stories.characterStoryPartTwo|raw }}</div>
</div>
<div class="item-story">
    <h3>Character Story: Part III</h3>
    <div>{{ character.stories.characterStoryPartThree|raw }}</div>
</div>
<div class="item-story">
    <h3>Character Story: Part IV</h3>
    <div>{{ character.stories.characterStoryPartFour|raw }}</div>
</div>