<div class="item-stories">
    <p>Character Details</p>
    <div>{{ character.stories.characterDetails }}</div>
    <p>Character Story 1</p>
    <div>{{ character.stories.characterStoryPartOne }}</div>
    <p>Character Story 2</p>
    <div>{{ character.stories.characterStoryPartTwo }}</div>
    <p>Character Story 3</p>
    <div>{{ character.stories.characterStoryPartThree }}</div>
    <p>Character Story 4</p>
    <div>{{ character.stories.characterStoryPartFour }}</div>
</div>