<div class="item-traces">
    <div class="main-traces">
        <div class="eidolon-skill-trace-container">
            <img src="/uploads/{{ character.characterKit.mainTraceOneFilename }}" alt="">
            <div>
                <h4>Main Trace 1</h4>
                <h3>{{ character.characterKit.mainTraceOneName }}</h3>
                <div>{{ character.characterKit.mainTraceOneDesc }}</div>
            </div>
        </div>
        <div class="eidolon-skill-trace-container">
            <img src="/uploads/{{ character.characterKit.mainTraceTwoFilename }}" alt="">
            <div>
                <h4>Main Trace 2</h4>
                <h3>{{ character.characterKit.mainTraceTwoName }}</h3>
                <div>{{ character.characterKit.mainTraceTwoDesc }}</div>
            </div>
        </div>
        <div class="eidolon-skill-trace-container">
            <img src="/uploads/{{ character.characterKit.mainTraceThreeFilename }}" alt="">
            <div>
                <h4>Main Trace 3</h4>
                <h3>{{ character.characterKit.mainTraceThreeName }}</h3>
                <div>{{ character.characterKit.mainTraceThreeDesc }}</div>
            </div>
        </div>
    </div>
    <div class="substats">
        <div class="substat">
            <p>
                <img src="/uploads/{{ character.characterKit.substats[0].filename }}" alt="">
                {{ character.characterKit.statOneValue }}
                {% if not character.characterKit.substats|slice(0, 1)|join('') is same as 'SPD' %}
                    %
                {% endif %}
            </p>
            <p>{{ character.characterKit.substats|slice(0, 1)|join('') }}</p>
        </div>
        <div class="substat">
            <p>
                <img src="/uploads/{{ character.characterKit.substats[1].filename }}" alt="">
                {{ character.characterKit.statTwoValue }}
                {% if not character.characterKit.substats|slice(1, 1)|join('') is same as 'SPD' %}
                    %
                {% endif %}
            </p>
            <p>{{ character.characterKit.substats|slice(1, 1)|join('') }}</p>
        </div>
        <div class="substat">
            <p>
                <img src="/uploads/{{ character.characterKit.substats[2].filename }}" alt="">
                {{ character.characterKit.statThreeValue }}
                {% if not character.characterKit.substats|slice(2, 1)|join('') is same as 'SPD' %}
                    %
                {% endif %}
            </p>
            <p>{{ character.characterKit.substats|slice(2, 1)|join('') }}</p>
        </div>
    </div>
</div>