<header>
    <a href="/">
        <img loading="lazy" class="logo small" src="{{ asset('images/fortuna-nexus-logo-no-name.png') }}" alt="">
        <img loading="lazy" src="{{ asset('images/fortuna-nexus-logo.png') }}" alt="" class="logo large">
    </a>
    <nav class="header-nav">
        <ul class="main-nav">
            <li class="main-nav-link">
                <a class="main-nav-link-text" href="/characters">
                    <img loading="lazy" class="main-nav-link-img" src="{{ asset('images/character.png') }}" alt="">
                    <p>Characters</p>
                </a>
            </li>
            <li class="main-nav-link">
                <a class="main-nav-link-text" href="/light-cones">
                    <img loading="lazy" class="main-nav-link-img" src="{{ asset('images/Icon_Light_Cone.webp') }}" alt="">
                    <p>Light cones</p>
                </a>
            </li>
            <li class="main-nav-link">
                <a class="main-nav-link-text" href="#">
                    <img loading="lazy" class="main-nav-link-img" src="{{ asset('images/Icon_Relics.webp') }}" alt="">
                    <p>Relics</p>
                </a>
            </li>
            <li class="main-nav-link">
                <a class="main-nav-link-text" href="/materials">
                    <img loading="lazy" class="main-nav-link-img" src="{{ asset('images/Icon_Upgrade_Materials.webp') }}" alt="">
                    <p>Materials</p>
                </a>
            </li>
            {% if is_granted('ROLE_USER') %}
                <li class="main-nav-link">
                    <a class="main-nav-link-text" href="/logout">Logout</a>
                </li>
            {% else %}
                <li class="main-nav-link">
                    <a class="main-nav-link-text" href="/login">Login</a>
                </li>
                <li class="main-nav-link">
                    <a class="main-nav-link-text" href="/register">Register</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="main-nav-link">
                    <a class="main-nav-link-text" href="/fledgless">Admin</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>